.gallery
  %button.buttonGallery#leftButton
  %button.buttonGallert#rightButton
  .wrapper
    %img#mainPhoto{:src => "/assets/photo001.jpg"}
    %img{:src => "/assets/photo002.jpg"}
    %img{:src => "/assets/photo003.jpg"}


