%center
  %header Laia Pérez Ríos
  %nav
    %ul Home
    %ul Résumé
    %ul Cuotes
    %ul Likes
    %ul Contact
  %img#mainPhoto{:src => "/assets/LaiaPhoto.jpg"}
  %footer Copyright © 2015 LaiaPérezRíos

