%section#personalGallery
  .wrapper
    %img#item-0{:src => "/assets/photo001.jpg"}
    %img#item-1{:src => "/assets/photo002.jpg"}
    %img#item-2{:src => "/assets/photo003.jpg"}
    .arrow#leftButton
      %img{:src => "/assets/left.png"}
    .arrow#rightButton
      %img{:src => "/assets/right.png"}


