%section#personalGallery
  .wrapper
    - for i in 0..2
      .slideshow-item{:id => "slideshow-item-#{i}"}
        =image_tag("photo00"+i.to_s)
    .arrow#leftButton
      = image_tag("left.png")
    .arrow#rightButton
      = image_tag("right.png")




