// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'utilities';
$imgW: 540px;
$imgH: 720px;
$margin:50px;
$arrowW:25px;

section{

  margin-top: $margin;

  .arrow {

    width: $arrowW;
    height: $arrowW;
    img {
      background-color: #dfdddc;
      border-radius: 10px;
      height: $arrowW;
      width: $arrowW;
      cursor: pointer;

    }
  }
  .wrapper {

    position:relative;
    max-width: $imgW;
    max-height: $imgH;
    margin: 0 auto;
    text-align: center;

    #leftButton
    {
      margin: 0 auto;
      text-align:center;
      position:absolute;
      top: $imgH/2;
      left: 0px;
    }

    #rightButton
    {
      margin: 0 auto;
      text-align:center;
      position:absolute;
      top: $imgH /2;
      left: $imgW - $arrowW;
    }
  }

  #slideshow-item-0{
    display:inline-block;
  }

  .slideshow-item{
    display:none;
  }

}

