// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//main font
@import url(//fonts.googleapis.com/css?family=Open+Sans);
$fs:60px;
$mainColor:#444;
$backgroundColor:black;
$menuH:50px;
$menuW:150px;

body {
  font-family: 'Open Sans', sans-serif;

  center{
    header{
      font-size:$fs;
      color: $mainColor;
    }

    nav{
      ul{
        border-bottom: 1px solid #F0F0F0;
        border-top: 1px solid #F0F0F0;
        cursor:pointer;
        display: inline-block;
        font-size:35px;
        width: $menuW;
        &:hover{
          color:purple;
        }
      }
    }

    #mainPhoto{
      cursor: pointer;
      position:relative;
      clear:both;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}